.header-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-self: stretch;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1170px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header-pasted-image {
  width: 129px;
  height: 66px;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-desktop-menu {
  display: flex;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navlink {
  color: var(--dl-color-primary-dark);
  transition: 0.3s;
  font-family: Nunito Sans;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink:hover {
  opacity: 0.7;
}
.header-navlink:active {
  font-style: normal;
  font-weight: 700;
}
.header-navlink1 {
  color: var(--dl-color-primary-dark);
  transition: 0.3s;
  font-family: Nunito Sans;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink1:hover {
  opacity: 0.7;
}
.header-navlink1:active {
  font-style: normal;
  font-weight: 700;
}
.header-text {
  color: var(--dl-color-primary-dark);
  transition: 0.3s;
  font-family: Nunito Sans;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.header-text:hover {
  opacity: 0.7;
}
.header-text:active {
  font-style: normal;
  font-weight: 700;
}
.header-text1 {
  color: var(--dl-color-primary-dark);
  transition: 0.3s;
  font-family: Nunito Sans;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.header-text1:hover {
  opacity: 0.7;
}
.header-text1:active {
  font-style: normal;
  font-weight: 700;
}
.header-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container2 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  justify-content: space-between;
}
.header-container2:hover {
  opacity: 0.8;
}
.header-text2 {
  color: var(--dl-color-primary-dark);
  font-family: Nunito Sans;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.header-icon {
  fill: var(--dl-color-primary-dark);
  width: 24px;
  height: 24px;
}
.header-pasted-image1 {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}
.header-pasted-image1:hover {
  opacity: 0.7;
}
.header-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}

.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.header-mobile-menu-show {
  transform: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: none;
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-pasted-image2 {
  width: 129px;
  height: 66px;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-text6 {
  margin-bottom: var(--dl-space-space-unit);
}

@media (max-width: 800px) {
  .header-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .header-btn-group {
    display: none;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon2 {
    fill: var(--dl-color-primary-dark);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .header-icon4 {
    fill: var(--dl-color-primary-dark);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-halfunit);
  }
  .header-navlink2 {
    color: var(--dl-color-primary-dark);
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 1.5;
  }
  .header-navlink3 {
    color: var(--dl-color-primary-dark);
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 1.5;
  }
  .header-text3 {
    color: var(--dl-color-primary-dark);
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 1.5;
  }
  .header-text4 {
    color: var(--dl-color-primary-dark);
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 1.5;
  }
  .header-text5 {
    color: var(--dl-color-primary-dark);
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 1.5;
  }
  .header-text6 {
    color: var(--dl-color-primary-dark);
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-btn-group {
    display: none;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
}
@media (max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
}
@media (max-width: 430px) {
  .header-pasted-image {
    height: 48px;
  }
  .header-pasted-image2 {
    height: 48px;
  }
}
